.raised-button{
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    color: rgba(0, 0, 0, 0.87);
    background-color: white;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin: 10px 8px;

    box-sizing: border-box;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: 0;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 13px;
    overflow: visible;
    transform: translate3d(0,0,0);
    transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
}
.raised-button.hover{
    cursor: pointer;
}
input:hover{
    cursor: pointer;
}

.shk-input{
    padding: 10px;
    border-radius: 7px;
    border: none;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    background-color: rgba(0,0,0,0.35);
    color: #fff;
    transition: transform .3s linear;
    transform: scale(1);
    outline: none;
}

.shk-input:focus{
    transform: scale(1.05);
    border: 1px solid #1DACFB;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.main{
    background: linear-gradient(45deg,#2497EA 40%,#821CCB 80%);
    width: 100%;
    height: 100%;
    transition: height .6s linear;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: fixed;
}

.card{
    width: 400px;
    height: 450px;
    position: relative;
    opacity: 1;
    transition: opacity .3s linear;
}

.card>button:hover{
    cursor: pointer;
}

.card__front,.card__back{
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    overflow: hidden;
    transition: transform .6s linear;
    border-radius: 30px;
    background-color: rgba(0,0,0,0.5) ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card__front{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: perspective(600px) rotateY(0);
}
.login_button, .sign-in_button{
    margin-bottom: 10px;
    width: 60%;
    background-color: rgba(0,0,0,.3);
    color: #1DACFB;
    transition: transform .2s linear;
    transform: scale(1);
}
.login_button:hover, .sign-in_button:hover{
    transform: scale(1.05);
    transform-origin: center;
}

.login_button:hover{
    box-shadow: 0 0 10px #821CCB;
}
.sign-in_button:hover{
    box-shadow: 0 0 10px #1DACFB;
}

.card__back{
    transform: perspective(600px) rotateY(180deg);
}

.card--rotate>.card__front{
    transform:perspective(600px) rotateY(-180deg);
}
.card--rotate>.card__back{
    transform: perspective(600px) rotateY(0);
}

.card__picture{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    transform: translateY(-50px);
    border: 3px solid #1DACFB;
    box-shadow: 0 0 15px 5px #6C1CB3;
}

.card__text{
    align-self: flex-end;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.card__back{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.error-message{
    color: red;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    top: 15px;
    margin: 0;
    padding: 0;
}
.card__form{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.card__form__list{
    margin: 5px 0;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card__form__Login_button{
    background: none;
    color: white;
    box-shadow: none;
    padding: 5px;
    font-size: 26px;
}
.card__form__Login_button{
    transform: scale(1);
    transition: transform .3s linear;
}
.card__form__Login_button:hover{
    transform: scale(1.1);
}
.card__form__Login_button:hover>span{
    text-shadow: 0px 0px 13px #FFF, 0 0 5px #1DACFB;
    cursor: pointer;
}


.raised-button:active{
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}


.account{
    display: flex;
    justify-content: center;
}
.account_hide_button{
    position: fixed;
    bottom: 30px;
    opacity: 0;
    transition: all .5s linear;
    background-color: #1993d5;
    box-shadow: 0 0 10px #ecd8ff;
    color: white;
}

.account_hide_button--show{
    opacity: 1 !important;
}
